body {
    background-color: aquamarine;
}

#clickTextDisplay {
    font-size: 200%;
}

.building-container {
    border: 1px solid black;
    width: 50%;
    padding: 25px;
    margin: 10px;
}  
.building-container > button {
    width: 100%;
} 